---
import { getPluginNavItem } from "../../plugin-nav";
import Alert from "../astro/Alert.astro";
import DemoButton from "../astro/DemoButton.astro";
import DemoSection from "../DemoSection.astro";

const plugin = getPluginNavItem("export")!;
---

<DemoSection id={plugin.id} title={plugin.title} api={plugin.api} description={plugin.description}>
	<p class="text-sm text-muted-foreground" x-show="!$export.isSupported" x-cloak>
		Programmatic file exports are not available in this environment.
	</p>
	<template x-if="$export.isSupported">
		<div>
			<div class="flex flex-wrap gap-2 mt-1">
				<DemoButton @click="exportedText = await $export('Hello from Alpine!', 'hello.txt')">
					Export text
				</DemoButton>
				<DemoButton @click="exportedJson = await $export(JSON.stringify({ plugin: 'export', savedAt: Date.now() }, null, 2), { filename: 'export.json', mimeType: 'application/json' })">
					Export JSON
				</DemoButton>
				<DemoButton @click="exportedUrl = await $export('/json-api/articles.json', { filename: 'articles.json', mimeType: 'application/json' })">
					Export URL
				</DemoButton>
			</div>
			<Alert variant="success" class="mt-3" x-show="exportedText === true" x-cloak>
				<span>Text export started.</span>
			</Alert>
			<Alert variant="success" class="mt-3" x-show="exportedJson === true" x-cloak>
				<span>JSON export started.</span>
			</Alert>
			<Alert variant="success" class="mt-3" x-show="exportedUrl === true" x-cloak>
				<span>URL export started.</span>
			</Alert>
		</div>
	</template>
	<p class="text-xs text-muted-foreground mt-3">
		Package: <code>{plugin.package}</code>
	</p>
</DemoSection>
