---
import { getPluginNavItem } from "../../plugin-nav";
import Badge from "../astro/Badge.astro";
import DemoButton from "../astro/DemoButton.astro";
import DemoSection from "../DemoSection.astro";

const plugin = getPluginNavItem("toggle")!;
---

<DemoSection id={plugin.id} title={plugin.title} api={plugin.api} description={plugin.description}>
	<div class="grid gap-4">
		<div x-data="toggleBinaryDemo">
			<p>Binary: <strong x-text="power.value"></strong></p>
			<div class="flex flex-wrap gap-2 mt-2">
				<DemoButton @click="power.toggle()">toggle()</DemoButton>
				<DemoButton @click="power.next()">next()</DemoButton>
				<DemoButton @click="power.reset()">reset()</DemoButton>
				<Badge
					x-bind:class="{ 'bg-primary text-primary-foreground': power.is(power.states.on), 'text-muted-foreground': power.is(power.states.off) }"
					x-text="power.value"
				></Badge>
			</div>
		</div>
		<div x-data="toggleTernaryDemo">
			<p>
				Ternary: <strong x-text="answer.value"></strong>
				<Badge variant="outline" class="ml-2 border-amber-500/50 bg-amber-500/10 text-amber-700 dark:text-amber-400" x-show="answer.is(answer.states.indeterminate)">neutral</Badge>
			</p>
			<div class="flex flex-wrap gap-2 mt-2">
				<DemoButton @click="answer.toggle()">toggle()</DemoButton>
				<DemoButton @click="answer.next()">next()</DemoButton>
				<DemoButton @click="answer.reset()">reset()</DemoButton>
				<DemoButton @click="answer.set(answer.states.indeterminate)">set(unknown)</DemoButton>
			</div>
		</div>
	</div>
	<p class="text-xs text-muted-foreground mt-3">
		Package: <code>{plugin.package}</code>
	</p>
</DemoSection>
